<h1>Rankings</h1>

<table class='table table-striped table-bordered table-hover'>
  <thead>
    <tr>
      <th>Player ID</th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Overall Rank</th>
      <% Source.all.each do |source| %>
        <th><%= source.name %></th>
      <% end %>
      <th>Select</th>
    </tr>
  </thead>

  <tbody>
    <% @comp_ranks.each do |rank| %>
      <% next if rank[:player].picked_recently? %>
      <tr>
        <td><%= rank[:player].id %></td>
        <td><%= rank[:player].first_name + ' ' + rank[:player].last_name %></td>
        <td><%= rank[:player].position.name %></td>
        <td><%= rank[:player].team %></td>
        <td><%= rank[:overall_rank].round(2) %></td>
        <% rank[:sources].each do |k, crs| %>
          <% if k == 1 %>
            <td><%= crs || 0 %></td>
          <% elsif k == 2 %> 
            <td><%= crs || 0 %></td>
          <% elsif k == 3 %> 
            <td><%= crs || 0 %></td>
          <% end %>
        <% end %>

        <td>
        <% if rank[:player].picked? %>
          <%= button_to 'Undo Pick.', 
              { :controller => "players", 
                :action => "unpick", 
                :id => rank[:player].id},
                :method => 'post',
                :class => 'btn btn-danger' %>
        <% else %>
            <%= button_to 'Pick.', 
                { :controller => "players", 
                  :action => "pick", 
                  :id => rank[:player].id},
                  :method => 'post',
                  :class => 'btn btn-success' %>
        <% end %>
        </td>
    <% end %>
  </tbody>
</table>
