<h1>Listing Rankings</h1>

<table>
  <thead>
    <tr>
      <th>Player ID</th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Overall Rank</th>
      <% Source.all.each do |source| %>
        <th><%= source.name %></th>
      <% end %>
      <th>Select</th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @comp_ranks.sort_by { |k, v| v[:overall_rank] }.each do |id,comp_rank| %>
      <% i += 1 %>
      <% if i % 2 == 0 %>
        <% classy = '#ffffff' %>
      <% else %>
        <% classy = '#cfcfcf' %>
      <% end %>
      <tr>
        <td style="background-color: <%= classy %>"><%= id %></td>
        <td style="background-color: <%= classy %>"><%= comp_rank[:name] %></td>
        <td style="background-color: <%= classy %>"><%= comp_rank[:position] %></td>
        <td style="background-color: <%= classy %>"><%= comp_rank[:team] %></td>
        <td style="background-color: <%= classy %>"><%= comp_rank[:overall_rank].round(2) %></td>
        <% comp_rank[:sources].each do |k, crs| %>
          <% if k == 1 %>
            <td style="background-color: <%= classy %>"><%= crs[:overall_rank] || 0 %></td>
          <% elsif k == 2 %> 
            <td style="background-color: <%= classy %>"><%= crs[:overall_rank] || 0 %></td>
          <% elsif k == 3 %> 
            <td style="background-color: <%= classy %>"><%= crs[:overall_rank] || 0 %></td>
          <% end %>
        <% end %>
        <td style="background-color: <%= classy %>">
          <%= button_to 'Pick.', 
              { :controller => "players", 
                :action => "pick", 
                :id => id},
              :method => 'post' %>
        </td>
    <% end %>
  </tbody>
</table>

